__history
__recovery

backup
TMP
Win32
Android
styles


*.pdb
*.identcache
*.~*
*.dcu
*.bmp
*.jpg
*.jpeg
*.png
*.exe
*.idb
*.local
*.dsk
*.bdsproj
*.ddp
*.chp
*.drc
*.obj
*.cur
*.vlb
*.bpm
*.map
*.stat
*.tvsconfig
*.el
*.aqt

*.log
*.zip
*.cfg
*.bak

log.txt
_errors_log.txt

*.skincfg
*.eof
/last-build-log.txt
